force-app/main/default/flows/Get_Available_Seats.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Daily_Available_Seats</name>
        <label>Assign Daily Available Seats</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAvailableSeats</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dailyAvailableSeats</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Hybrid_Available_Seats</name>
        <label>Assign Hybrid Available Seats</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAvailableSeats</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hybridSeatsAvailable</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CountHybridSeatsOccupied</name>
        <label>CountHybridSeatsOccupied</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varHybridOccupied</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>employeeCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Hybrid_Available_Seats</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_0_on_not_valid</name>
        <label>Return 0 on not valid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAvailableSeats</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Inputs_Valid</name>
        <label>Inputs_Valid?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Return_0_on_not_valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBlockId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGroupName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Block</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Daily_Group</name>
        <label>Is_Daily_Group?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Employees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Daily</defaultConnectorLabel>
        <rules>
            <name>Daily</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varGroupName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGroupName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Daily_Available_Seats</targetReference>
            </connector>
            <label>Daily</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dailyAvailableSeats</name>
        <dataType>Number</dataType>
        <expression>{!Get_Block.Daily_Seats_Available__c} - {!Get_Block.Daily_Occupied_Seats__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>hybridSeatsAvailable</name>
        <dataType>Number</dataType>
        <expression>{!Get_Block.Hybrid_Seats_Available__c} - {!varHybridOccupied}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Get Available Seats {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Available Seats</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Block</name>
        <label>Get Block</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Daily_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBlockId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Block__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employees</name>
        <label>Get Employees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountHybridSeatsOccupied</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Block__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBlockId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGroupName</elementReference>
            </value>
        </filters>
        <object>Employee__c</object>
        <outputReference>employeeCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inputs_Valid</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>employeeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
    <variables>
        <name>varAvailableSeats</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varBlockId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHybridOccupied</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
